ПРЕТЕНЗИЯ ПРОДАВЦУ

Покупатель: {{ field_1 }}.
Продавец: {{ field_2 }}.
Товар: {{ field_3 }}.
Выявленный недостаток: {{ field_4 }}.
Требование: {{ field_5 }}.
Дата покупки: {{ field_6 }}.
Город: {{ field_7 }}.
Дата претензии: {{ field_8 }}.
