ПРЕТЕНЗИЯ АРЕНДАТОРУ

Арендодатель: {{ field_1 }}.
Арендатор: {{ field_2 }}.
Адрес помещения: {{ field_3 }}.
Нарушение: {{ field_4 }}.
Требование: {{ field_5 }}.
Срок исполнения: {{ field_6 }}.
Дата: {{ field_7 }}.
