СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ

Я, {{ field_1 }}, паспорт {{ field_2 }}, проживающий по адресу {{ field_3 }}, даю согласие на обработку моих персональных данных с целью {{ field_4 }}.
Срок хранения данных: {{ field_5 }}.
Дата: {{ field_6 }}.
Город: {{ field_7 }}.
