ДОГОВОР КУПЛИ-ПРОДАЖИ ТОВАРА

{{ field_1 }} ("Продавец"), паспорт: {{ field_2 }}, адрес: {{ field_3 }},
и {{ field_4 }} ("Покупатель"), паспорт: {{ field_5 }}, адрес: {{ field_6 }}, заключили настоящий договор о нижеследующем.

1. Предмет договора: {{ field_7 }}.
2. Состояние товара: {{ field_8 }}.
3. Цена: {{ field_9 }} рублей.
4. Место сделки: {{ field_10 }}.
5. Дата: {{ field_11 }}.

Стороны подтверждают, что не имеют претензий и обязуются исполнить договор добросовестно.
