ДОГОВОР КУПЛИ-ПРОДАЖИ АВТОМОБИЛЯ

Продавец: {{ field_1 }}, паспорт {{ field_2 }}.
Покупатель: {{ field_3 }}, паспорт {{ field_4 }}.
Предмет: автомобиль {{ field_5 }}, VIN {{ field_6 }}, {{ field_7 }} года выпуска, пробег {{ field_8 }} км.
Цена: {{ field_9 }} рублей.
Город сделки: {{ field_10 }}.
Дата: {{ field_11 }}.

Стороны подтверждают передачу автомобиля и отсутствие взаимных претензий.
