ДОГОВОР КУПЛИ-ПРОДАЖИ НЕДВИЖИМОСТИ

Продавец: {{ field_1 }}, паспорт {{ field_2 }}.
Покупатель: {{ field_3 }}, паспорт {{ field_4 }}.
Объект: {{ field_5 }}, кадастровый номер {{ field_6 }}, площадь {{ field_7 }} кв.м.
Цена: {{ field_8 }} рублей.
Порядок расчетов: {{ field_9 }}.
Дата: {{ field_10 }}.

Стороны подтверждают условия сделки и обязуются зарегистрировать переход права собственности.
