АКТ ПРИЕМА-ПЕРЕДАЧИ ИМУЩЕСТВА

Стороны: {{ field_1 }} и {{ field_2 }}.
Предмет передачи: {{ field_3 }}.
Состояние: {{ field_4 }}.
Количество: {{ field_5 }}.
Место передачи: {{ field_6 }}.
Дата: {{ field_7 }}.
Стороны подтвердили факт передачи и отсутствие претензий.
