ДОГОВОР БЫТОВОГО ПОДРЯДА

Исполнитель: {{ field_1 }}.
Заказчик: {{ field_2 }}.
Вид работ: {{ field_3 }}.
Стоимость: {{ field_4 }} рублей.
Срок выполнения: {{ field_5 }}.
Материалы: {{ field_6 }}.
Гарантийный срок: {{ field_7 }}.
Дата: {{ field_8 }}.
