ДОГОВОР НА ФОТОСЪЁМКУ

Фотограф: {{ field_1 }}.
Клиент: {{ field_2 }}.
Место съёмки: {{ field_3 }}.
Дата и время: {{ field_4 }}.
Количество часов: {{ field_5 }}.
Стоимость: {{ field_6 }} рублей.
Передача материалов: {{ field_7 }}.
Дата договора: {{ field_8 }}.
