ДОВЕРЕННОСТЬ

Я, {{ field_1 }}, паспорт {{ field_2 }}, доверяю {{ field_3 }}, паспорт {{ field_4 }}, совершать следующие действия: {{ field_5 }}.
Срок доверенности: {{ field_6 }}.
Город: {{ field_7 }}.
Дата: {{ field_8 }}.
