РАСПИСКА О ЗАДАТКЕ

Мы, {{ field_1 }}, подтверждаем передачу задатка в сумме {{ field_2 }} рублей по основанию {{ field_3 }}.
Дата: {{ field_4 }}, город {{ field_5 }}.
Стороны осознают последствия нарушения обязательств и согласны с условиями возврата задатка.
