РАСПИСКА О ПОЛУЧЕНИИ ДЕНЕГ

Я, {{ field_1 }}, паспорт {{ field_2 }}, получил(а) сумму {{ field_3 }} рублей от {{ field_4 }} на основании {{ field_5 }}.
Дата передачи: {{ field_6 }}, город {{ field_7 }}.
Подпись сторон подтверждает факт передачи средств.
