СОГЛАШЕНИЕ О ВОЗВРАТЕ ДЕНЕЖНЫХ СРЕДСТВ

Кредитор: {{ field_1 }}.
Должник: {{ field_2 }}.
Сумма возврата: {{ field_3 }} рублей.
Срок возврата: {{ field_4 }}.
Порядок платежа: {{ field_5 }}.
Город: {{ field_6 }}.
Дата: {{ field_7 }}.
