ДОГОВОР АРЕНДЫ КОМНАТЫ

Арендодатель: {{ field_1 }}, паспорт {{ field_2 }}.
Арендатор: {{ field_3 }}, паспорт {{ field_4 }}.
Комната по адресу: {{ field_5 }}.
Срок аренды: {{ field_6 }}.
Арендная плата: {{ field_7 }} рублей.
Порядок оплаты: {{ field_8 }}.
Правила проживания: {{ field_9 }}.
Дата: {{ field_10 }}.
