ДОГОВОР АРЕНДЫ КВАРТИРЫ

Арендодатель: {{ field_1 }}, паспорт {{ field_2 }}.
Арендатор: {{ field_3 }}, паспорт {{ field_4 }}.
Объект аренды: квартира по адресу {{ field_5 }}.
Срок аренды: {{ field_6 }}.
Арендная плата: {{ field_7 }} рублей в месяц.
Залог: {{ field_8 }} рублей.
Коммунальные платежи: {{ field_9 }}.
Дата: {{ field_10 }}.
