ДОГОВОР АРЕНДЫ АВТОМОБИЛЯ

Арендодатель: {{ field_1 }}, паспорт {{ field_2 }}.
Арендатор: {{ field_3 }}, паспорт {{ field_4 }}.
Автомобиль: {{ field_5 }}, номер {{ field_6 }}.
Срок аренды: {{ field_7 }}.
Стоимость аренды: {{ field_8 }} рублей.
Лимит пробега: {{ field_9 }} км.
Дата: {{ field_10 }}.
