АКТ ВЫПОЛНЕННЫХ РАБОТ

Исполнитель: {{ field_1 }}.
Заказчик: {{ field_2 }}.
Вид работ: {{ field_3 }}.
Результат: {{ field_4 }}.
Стоимость: {{ field_5 }} рублей.
Дата завершения: {{ field_6 }}.
Стороны подтверждают выполнение обязательств.
